@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-date-range/dist/styles.css";
@import "react-date-range/dist/theme/default.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "yet-another-react-lightbox/styles.css";
@import "react-international-phone/style.css";

select {
  background-color: transparent;
  background-image: none;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

a:focus,
a:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.slick-dots li.slick-active div {
  width: 14px !important;
  height: 14px !important;
  background-color: #2563eb !important; /* your main blue */
  box-shadow: 0 0 10px rgba(37, 99, 235, 0.8);
}